<div class="content">
  <h1>Data reporting form</h1>
  <form action="" method="post" class="form-grid">

    <label for="" class="label">Email:</label>
    <input type="email" name="" id="" />

    <label for="" class="label">Url</label>
    <input type="url" name="" id="" />

    <label for="" class="label">Category</label>
    <select name="" id="">
      <option value="Please choose an option*">Please choose an option*</option>
      <option value="Terrorism">Terrorism</option>
      <option value="Pornography">Pornography</option>
      <option value="Investment">Investment</option>
      <option value="Phishing">Phishing</option>
      <option value="Spam">Spam</option>
      <option value="RGPD">RGPD</option>
    </select>

    <label for="" class="label">Details</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>

    <div class="flex">
      <input type="checkbox" name="" id="" />
      <label for="" class="label">I declare that my report requires no urgency</label>
    </div>

    <button type="submit">Send repport</button>
  </form>
</div>
