.content {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
}

.form-grid {
    display: grid;
}

.flex {
    display: flex;
}

button {
    background: #193b4f;
    border: none;
    padding: 15px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}